In [2]:
## step_1: Created a new database using MySql Workbench 
## step_2: Import provided crime_data set into database table

In [3]:
## step_3: Launch Jupyter Notebook and install pymysql which is required to connect python with database to access dataset
import pymysql

In [4]:
## step_4: Establish connection with database named "project"
conn=pymysql.connect(host="localhost",
                     port=3307,
               user="root",
               password="tiger",
               database="project")

In [5]:
## step_5: Import all required libraries
import warnings
warnings.filterwarnings('ignore') #to ignore warnings during coding
import numpy as np   #to work with numerical data
import pandas as pd  #for data analysis purpose
import matplotlib.pyplot as plt  #for data visualisation purpose
import seaborn as sns  #for data visualisation purpose
import plotly.express as px #for data visualisation purpose

In [6]:
## step_6: Get all data 
query="select * from crime_data"
df=pd.read_sql(query,conn)
print(df)

         DR_NO   Date_Rptd    DATE_OCC    AREA_NAME  Crm_Cd  \
0     10304468  01-08-2020  01-08-2020    Southwest     624
1    190101086  01-02-2020  01-01-2020      Central     624
2    191501505  01-01-2020  01-01-2020  N Hollywood     745
3    191921269  01-01-2020  01-01-2020      Mission     740
4    200100502  01-02-2020  01-02-2020      Central     442
..         ...         ...         ...          ...     ...
494  200106614  02-07-2020  02-07-2020      Central     624
495  200106615  02-07-2020  02-07-2020      Central     624
496  200106616  02-07-2020  02-07-2020      Central     624
497  200106617  02-07-2020  01-10-2020      Central     510
498  200106618  02-07-2020  02-03-2020      Central     745

                                           Crm_Cd_Desc  Vict_Age Vict_Sex  \
0                             BATTERY - SIMPLE ASSAULT        36        F
1                             BATTERY - SIMPLE ASSAULT        25        M
2             VANDALISM - MISDEAMEANOR ($399 OR UNDER)        76        F
3    VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...        31        X
4             SHOPLIFTING - PETTY THEFT ($950 & UNDER)        23        M
..                                                 ...       ...      ...
494                           BATTERY - SIMPLE ASSAULT        33        M
495                           BATTERY - SIMPLE ASSAULT        25        M
496                           BATTERY - SIMPLE ASSAULT        35        M
497                                   VEHICLE - STOLEN         0        F
498           VANDALISM - MISDEAMEANOR ($399 OR UNDER)        72        M

                                      Premis_Desc Status            Location  \
0                          SINGLE FAMILY DWELLING     AO      1100 W 39TH PL
1                                        SIDEWALK     IC       700 S HILL ST
2    MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)     IC     5400 CORTEEN PL
3                             BEAUTY SUPPLY STORE     IC      14400 TITUS ST
4                                DEPARTMENT STORE     IC   700 S FIGUEROA ST
..                                            ...    ...                 ...
494                                      SIDEWALK     IC   2400 ELLENDALE PL
495                                      SIDEWALK     IC             39TH PL
496                                   OTHER STORE     IC    2500 W VERNON AV
497                                   PARKING LOT     IC   700 EXPOSITION BL
498                      VEHICLE, PASSENGER/TRUCK     IC  2600 S FIGUEROA ST

       LAT     LON
0    34.01 -118.30
1    34.05 -118.25
2    34.17 -118.40
3    34.22 -118.45
4    34.05 -118.26
..     ...     ...
494  34.05 -118.26
495  34.05 -118.26
496  34.05 -118.25
497  34.05 -118.25
498  34.05 -118.24

[499 rows x 13 columns]

In [7]:
## step_7: Analysing data 
    # This "crime_data" Dataset has total 499 rows and 13 columns
    # Columns are - "DR_NO" which is unique,"Date_Rptd","DATE_OCC","AREA_NAME","Crm_Cd","Crm_Cd_Desc","Vict_Age","Vict_Sex"
#       "Premis_Desc","Status","Location","LAT","LON".

In [ ]:
### Question_1:
##Spatial Analysis:
## Where are the geographical hotspots for reported crimes?

fig = px.scatter(df, x="LAT", y="LON",color="AREA_NAME",title="Geographical hotspots for reported crime")
fig.show()

st=px.histogram(df.LAT,x="LAT",nbins=30,text_auto=True,title="Latitude wise Geographical hotspots for reported crime")
st.show()

st=px.histogram(df.LON,x="LON",nbins=30,text_auto=True,title="Longitude wise Geographical hotspots for reported crime")
st.show()

In [ ]:
## summery : Here we can see from above scatter plot and histogram most reported crime belongs to latitude 34.04 to 34.09 
#                and longitude -118.26 to -118.23, this is the geographical hotspot for reported crime

In [ ]:
### Question_2:
## Victim Demographics:
## What is the distribution of victim ages in reported crimes?

sns.set(style='dark')
sns.distplot(df['Vict_Age'],bins=8,label="Age Count",color="Green")
plt.title("Distribution of victim age")
plt.legend()
plt.show()

In [ ]:
## summery: Most of the victim age are in between 20 to 40 years

In [ ]:
### Question_3:
## Victim Demographics:
## Is there a significant difference in crime rates between male and female victims?

plt.figure(dpi=150)
plt.pie(df['Vict_Sex'].value_counts(),labels=df['Vict_Sex'].value_counts().index,autopct="%0.2f%%",shadow=True)
plt.title("Percentage of male and female victims")
plt.legend(title="Gender")
plt.show()

In [ ]:
## summery: Male victims are (55.7-31.06)=24.5% more in count then female victim.

In [ ]:
### Question_4:
## Location Analysis:
## Where do most crimes occur based on the "Location" column?

st=px.histogram(df, x="Location",title="Crimes occur based on the Location")
st.show()

In [ ]:
## summery: Most crime occur at "800 N ALAMEDA ST" and the number of crime occur at that place are 14.

In [ ]:
### Question_5:
## Crime Code Analysis:
## What is the distribution of reported crimes based on Crime Code?

st=px.histogram(df, x="Crm_Cd",nbins=10,text_auto=True,title="Distribution of reported crimes based on Crime Code")
st.show()

In [ ]:
## Cmr_Cd distribution analysis -- 300 to 500 and 600 to 700 crime code reported most then 200 to 300 and 700 to 800 crime code reported
#      and less crime code reported in between 500 to 600 and 800 to 1000.

In [ ]:
### Tools and Libraries used in this project:
# 1. Jupter notebook for Python development.
# 2. PyMySQL for interacting with MySQL database.
# 3. Matplotlib,Seaborn,Plotly for data visualization.